/* colors */
$primary: #D55143;
$secondary: #F1DFE7;
$textcolor: #363947;
$textcolor_secondary: #575c72;
$bgcolor: #fdfbfa;
$footercolor: #F5F1ED;

/* .quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

* {
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $textcolor;
    font-weight: 600;
}

/* style reset */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    line-height: 1.6;
    overflow-x: hidden;
}

h1 {
    font-family: 'Quicksand';
    font-weight: 400;
    color: $textcolor;
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 576px) {
        font-size: 3.2rem;
    }

    @media (min-width: 768px) {
        font-size: 3.6rem;
    }

    @media (min-width: 992px) {
        font-size: 4.2rem;
    }
}

h2 {
    color: $textcolor;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;


    @media (min-width: 576px) {
        font-size: 2rem;
    }

    @media (min-width: 768px) {
        font-size: 2.2rem;
    }

    @media (min-width: 992px) {
        font-size: 2.4rem;
    }
}

h3 {
    color: $textcolor_secondary;
    font-weight: 400;
    font-size: 1.5rem;

    @media (min-width: 576px) {
        font-size: 1.6rem;
    }

    @media (min-width: 768px) {
        font-size: 1.7rem;
    }

    @media (min-width: 992px) {
        font-size: 1.8rem;
    }
}


.btn {
    border: solid 2px;
    border-color: $textcolor;
    border-radius: 0%;
    font-size: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 1rem;
    background: transparent;
    color: $textcolor;

    &:hover {
        color: $bgcolor;
        background: $textcolor;
        border-color: $textcolor;

    }
}

a {
    color: $textcolor;

    &:hover {
        color: $primary;
    }
}

body {
    background-color: $bgcolor;
    color: $textcolor;
    display: flex;
    flex-direction: column;
}

nav {
    flex-direction: row;
    height: 64px;
}

#logo {
    display: flex;
    flex-direction: row;
}

.nav-elements {
    display: flex;
    position: relative;
    color: $textcolor;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .fas {
        color: $primary;
    }

    font-size: 0.8rem;

    @media (min-width: 768px) {
        font-size: 0.9rem;
    }

    @media (min-width: 992px) {
        font-size: 1rem;
    }
}

.bgLeft {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    left: 0vw;
    top: 0px;
    width: 0vw;
    height: 100%;
    -webkit-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
}

.bgRight {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    left: 100%;
    top: 0px;
    width: 0vw;
    height: 100%;
    -webkit-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
}


.nav-link {
    padding: 0.25em 0.3em .25em 0.3em;

    &:hover {
        color: $primary;
    }

    @media (min-width: 360px) {
        padding: 0.25em 0.5em .25em 0.5em;
    }

    @media (min-width: 400px) {
        padding: 0.25em 0.875em .25em 0.875em;
    }
}

.nav-highlighter {
    left: 0px;
    height: 6px;
    width: 50px;
    bottom: 0;
    background: $primary;
    position: absolute;
    -webkit-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
}


.projectContent {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 4rem;


    @media (min-width: 576px) {
        padding-bottom: 2rem;
    }

    @media (min-width: 768px) {
        padding-bottom: 2rem;
    }

    @media (min-width: 992px) {
        padding-bottom: 2rem;
    }

    img {
        width: 100%;
        height: auto;
    }
}

section {
    margin-bottom: 2rem;
}

.sticky-top {
    position: fixed;
    display: flex;
    top: 2em;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
}

#welcome {
    height: fit-content;
    height: 100vh;
    max-height: 100vh;
    background: $footercolor;
    position: relative;
}

@keyframes showWelcome {
    0% {
        opacity: 0;
        top: 24rem;
    }

    100% {
        opacity: 1;
        top: 20rem;
    }
}

.reveal {
    position: relative;
    transform: translateY(4rem);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.alignNav {
    display: flex;
    justify-content: center;

    @media (min-width: 992px) {
        justify-content: flex-end;
    }
}

footer {
    background-color: $footercolor;
    min-height: 20rem;
    display: flex;
    align-items: center;

    .container {
        margin-bottom: 2rem;
    }

    .logo {
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        flex-direction: row;
        margin-bottom: 1em;
        margin-top: 1em;

        .pehlke {
            margin-left: 2rem;
            color: $textcolor;
            font-size: 1.5rem;
        }
    }

    #copyright {
        display: flex;
        align-items: center;
        color: $textcolor;
        font-size: 1.2rem;
    }
}

.vert-center {
    display: flex;
    flex-direction: column;
}


#aboutImage {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: baseline;

    img {
        max-width: 800px;
        width: 70%;
        height: auto;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 576px) {
            width: 60%;
        }

        @media (min-width: 768px) {
            width: 100%;
        }

        @media (min-width: 992px) {
            width: 100%;
        }
    }
}

.about-text {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem 1rem 1rem;

    @media (min-width: 576px) {
        padding: 0 1rem 1rem 1rem;
    }

    @media (min-width: 768px) {
        padding: 0 2rem 1rem 2rem;
    }

    @media (min-width: 992px) {
        padding: 0 5rem 1rem 5rem;
    }
}

#contact .container .row {
    margin-left: 0;
    margin-right: 0;

    .col a {
        color: $primary;
        text-decoration: none;
    }
}


.socials {
    padding: 0.2em 0.2em 1em 0.2em;
    display: flex;
    align-items: center;

    object {
        padding: 0.8em;
        margin-right: 1em;
        height: 70px;

        @media (min-width: 768px) {
            margin-right: 0.5em;
        }

        @media (min-width: 992px) {
            margin-right: 2em;
        }
    }

    a {
        color: $textcolor;
        font-size: 1rem;

        @media (min-width: 768px) {
            font-size: 0.9rem;
        }

        @media (min-width: 992px) {
            font-size: 1rem;
        }
    }
}

.vertSpacer {
    height: 8rem;
}

.img-thumbnail {
    border: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
}

header {
    height: fit-content;
}

video {
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/* Image Gallery */

.modal-content {
    background-color: $primary;
}

.modal-header {
    border: 0;
}

.modal-body {
    max-width: 100vw;
    max-height: 100vh;
}

#changeText {
    position: absolute;
    padding-bottom: 1rem;
    left: 0;
    transform: translate(0, -50%);
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(0, -60%);
    }

    to {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

.fade-out {
    animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
}

header {
    background-color: transparent;
    background: none;
}

#logo-top {
    width: fit-content;
    height: 64px;
    position: absolute;
    top: 2rem;
    color: $textcolor;
    align-items: center;
    flex-direction: row;
    display: none;

    @media (min-width: 992px) {
        display: flex;
    }
}


.pehlke {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;

    span.firstname {
        font-family: 'Quicksand';
        color: $textcolor;
    }

    span.lastname {
        font-family: 'Quicksand';
        color: $primary;
    }
}

.mt10 {
    margin-top: 5rem;

    @media (min-width: 576px) {
        margin-top: 6rem;
    }

    @media (min-width: 768px) {
        margin-top: 8rem;
    }

    @media (min-width: 992px) {
        margin-top: 10rem;
    }
}


#mobileTexts {
    position: relative;
    display: block;

    @media (min-width: 992px) {
        display: none;
    }
}

.mtext {
    display: none;
    margin-top: 2rem;

    h1 {
        color: $textcolor_secondary;
    }
}

.mtext.active {
    display: block;
}

.carousel-item {
    padding-left: 0;
    height: 100%;
}

p {
        
    line-height: 170%;
}

.individual-caption {
    position: absolute;
    left: 1rem;
    top: 20rem;


    @media (min-width: 576px) {
        left: 10rem;
    }

    @media (min-width: 768px) {
        left: 16rem;
    }

    @media (min-width: 992px) {
        left: 20rem;
    }

    a {
        text-decoration: none;
        transition: all 1s ease;
        h5 {
            font-size: 2rem;
            color: $primary;
            text-transform: uppercase;
            font-family: 'Quicksand';
            @media (min-width: 576px) {
                font-size: 2.3rem;
            }

            @media (min-width: 768px) {
                font-size: 2.6rem;
            }

            @media (min-width: 992px) {
                font-size: 2.9rem;
            }
        }

        p {
            font-size: 1rem;
            color: $primary;


            @media (min-width: 576px) {
                font-size: 1.2rem;
            }

            @media (min-width: 768px) {
                font-size: 1.4rem;
            }

            @media (min-width: 992px) {
                font-size: 1.6rem;
            }
        }
    }

}


.pImage{
    padding-top: 1.5rem;
    img{
        width: 100%;
    }
}

.ptype {
    color: $primary;
}

.glide__slide {
    height: 100%;
    display: flex;
    align-items: center;

    a {
    text-decoration: none;
    h1, h2 {
        color: $textcolor;
        }
    }
}

.hero-heading {
    width: fit-content;
}

.hero-heading:hover {
    h1, h2 {
        color: $primary;
        }
}

.glide {
    height: 100%;
}

.glide__track {
    height: 100%;
}

.glide__slides {
    height: 100%;
}

#slide-a {
    position: relative;
    z-index: 2;
}

#slide-a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../img/Chiro/ChiroHero.webp");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

#slide-b {
    position: relative;
    z-index: 2;
}

#slide-b::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../img/Neue_Welten/Neue_Welten_Hero.webp");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

#slide-c {
    position: relative;
    z-index: 2;
}

#slide-c::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("../img/Tape_und_Papier/Tape_und_Papier_Hero.webp");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

.glide__bullets {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2em;
    width: 100%;
}

.glide__bullet {
    margin: 0.5em;
    padding: 0;
    border: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $textcolor_secondary;
}

.glide__bullet--active {
    background-color: $primary;
}

.description {
    color:$textcolor_secondary;
}

.awards {
    margin-top: 1.25rem;

    @media (min-width: 576px) {
        margin-top: 1.5rem;
    }

    @media (min-width: 768px) {
        margin-top: 2rem;
    }

    @media (min-width: 992px) {
        margin-top: 2.5rem;
    }
}

.exhibition-year {
    font-weight: 700;
    padding: 0rem 2rem 0 0;
    white-space:nowrap;
    color:$textcolor_secondary;
}

th, td {
  padding: 15px;
}